<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watermarks</key>
	<array>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_1</string>
			<key>image</key>
			<string>Watermark_big_1</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>1</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>-1.1</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>无聊时和自己玩</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_2</string>
			<key>image</key>
			<string>Watermark_big_2</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>0.15</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>不肯媚俗的心</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_3</string>
			<key>image</key>
			<string>Watermark_big_3</string>
			<key>origin</key>
			<array>
				<real>1</real>
				<real>1</real>
			</array>
			<key>offset</key>
			<array>
				<real>-1.3</real>
				<real>-1.1</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>最爱and珍惜</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_4</string>
			<key>image</key>
			<string>Watermark_big_4</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>1</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>-1.4</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>玩儿才是正经事儿</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_5</string>
			<key>image</key>
			<string>Watermark_big_5</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>-0.5</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>此时此刻</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_6</string>
			<key>image</key>
			<string>Watermark_big_6</string>
			<key>origin</key>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<key>offset</key>
			<array>
				<real>0.15</real>
				<real>0.05</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>你好旧时光</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_7</string>
			<key>image</key>
			<string>Watermark_big_7</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>0.15</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>万物有灵且美</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_8</string>
			<key>image</key>
			<string>Watermark_big_8</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>-0.5</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>致敬经典</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_9</string>
			<key>image</key>
			<string>Watermark_big_9</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>-0.5</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>定格时光</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_10</string>
			<key>image</key>
			<string>Watermark_big_10</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>0.35</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>负时光</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_11</string>
			<key>image</key>
			<string>Watermark_big_11</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>-0.5</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>It&apos;s time</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_12</string>
			<key>image</key>
			<string>Watermark_big_12</string>
			<key>origin</key>
			<array>
				<real>1</real>
				<real>1</real>
			</array>
			<key>offset</key>
			<array>
				<real>-1</real>
				<real>-1</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>此时此刻</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_13</string>
			<key>image</key>
			<string>Watermark_big_13</string>
			<key>origin</key>
			<array>
				<real>0</real>
				<real>1</real>
			</array>
			<key>offset</key>
			<array>
				<real>0</real>
				<real>-1</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>秋日</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_14</string>
			<key>image</key>
			<string>Watermark_big_14</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>-0.5</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>東西</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_15</string>
			<key>image</key>
			<string>Watermark_big_15</string>
			<key>origin</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>offset</key>
			<array>
				<real>-1.3</real>
				<real>0.15</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>東西集合</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_16</string>
			<key>image</key>
			<string>Watermark_big_16</string>
			<key>origin</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>offset</key>
			<array>
				<real>-1.15</real>
				<real>0.15</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>世界這么大我想去看看</string>
		</dict>
		<dict>
			<key>thumb_image</key>
			<string>Watermark_Thumbnail_17</string>
			<key>image</key>
			<string>Watermark_big_17</string>
			<key>origin</key>
			<array>
				<real>0.5</real>
				<real>0.5</real>
			</array>
			<key>offset</key>
			<array>
				<real>-0.5</real>
				<real>-0.5</real>
			</array>
			<key>initial_scale</key>
			<real>0.75</real>
			<key>comment</key>
			<string>小确幸</string>
		</dict>
	</array>
</dict>
</plist>
